.navbar-brand { background-color: darkcyan;
color:white;
font-weight: bold;}

h1 {color: darkcyan;
font-weight: bold;}

.col-lg-8 {background-color: white;
padding-left: 5%;
padding-right: 5%;
display: block;}

p {padding-left: 5%;}

h2 {color: darkcyan;
font-weight: bold;}

.col-md-4 {background-color: white;
padding-left: 5%;
padding-right: 5%;
display: block;}

h3 {color: darkcyan;
font-weight: bold;}


@media (max-width: 600px) 
.navbar {color: #000;}